.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(../../images/background.jpg);
  padding: 150px 0px;
  background-size: cover;
  background-position: center;

}
.banner h1 {
  color: rgb(230, 230, 230);
  font-size: 40px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: 300;
  opacity: 0.8;
}